<a href="/products">Volver</a>
<h1>{{title}}</h1>

<p>{{description}}</p>

{{#if photo}}
{{#each photo}}
<center><img src="/images/products/{{this}}" /></center>
{{/each}}
{{/if}}

{{#if isStock}}
<p>Precio: {{price}}</p>
{{else}}
<p>No hay stock del producto</p>
{{/if}}


<h1>Actualizar producto</h1>

<div class="new">
    <form class="formulario" action="/products/update/{{id}}" method="POST" id="form">
        <input type="text" name="title" placeholder="Titulo">
        <input type="text" name="description" placeholder="Descripción ">
        <input type="number" name="price" placeholder="Precio ">
        <input type="number" name="stock" placeholder="Stock ">
        <input type="submit" value="Actualizar producto" />
    </form>
</div>

<div id="messageError"></div>

<script>
    const form = document.getElementById("form");

    form.onsubmit = (e) => {
        e.preventDefault();
        const formData = Object.fromEntries(new FormData(e.currentTarget).entries());

        let parsePrice = parseInt(formData.price)
        let parseStock = parseInt(formData.stock)

        if (!formData.title && !formData.description && !parsePrice && !parseStock) {

            let messageError = document.getElementById("messageError")
            return messageError.innerHTML = "<p>llene al menos un formulario</p>"
        }

        if

        if (parsePrice < 0) {
                let messageError = document.getElementById("messageError")
                return messageError.innerHTML = "<p>Precio inválido: debe ser un número positivo</p>";
            }
        if (parseStock < 0) {
            let messageError = document.getElementById("messageError")
            return messageError.innerHTML = ("<p>Stock inválido: debe ser un número positivo</p>");
        }


        fetch(form.action, {
            headers: {
                "Content-Type": "application/json"
            },
            method: "PUT",
            body: JSON.stringify(formData)
        })
            .then((res) => {
                if (res.status < 400) {
                    window.location.reload();
                }
            })
    }
</script>