<a href="/products">Volver</a>
<h1>{{title}}</h1>

<p>{{description}}</p>

{{#if photo}}
{{#each photo}}
<center><img src="/images/products/{{this}}" /></center>
{{/each}}
{{/if}}

{{#if isStock}}
<p>Precio: {{price}}</p>
{{else}}
<p>No hay stock del producto</p>
{{/if}}


<h1>Actualizar producto</h1>

<div class="new">
    <form class="formulario" action="/products/update/{{id}}" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Titulo">
        <input name="description" placeholder="Descripción ">
        <input type="number" name="price" placeholder="Precio ">
        <input type="number" name="stock" placeholder="Stock ">
        <input type="submit" value="Actualizar producto" />
    </form>
</div>
{{!-- El id si lo recibe en action --}}